//==========================//
//===== react toastify =====//
//==========================//

.Toastify__toast {
  width: 100% !important;
  max-width: 500px !important;
  border-radius: 0.5rem !important;
}

.Toastify__toast-body {
  font-family: "Vazir FD", sans-serif;
  margin: 0 !important;
}
