.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
}

.loader {
  display: inline-block;
  position: relative;
  width: 75px;
  height: 50px;
}

.loader div {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #4d1dfe;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: 8px;
  animation: circle1 0.6s infinite;
}

.loader div:nth-child(2) {
  left: 8px;
  animation: circle2 0.6s infinite;
}

.loader div:nth-child(3) {
  left: 32px;
  animation: circle2 0.6s infinite;
}

.loader div:nth-child(4) {
  left: 56px;
  animation: circle3 0.6s infinite;
}

@keyframes circle1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes circle3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes circle2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}